.card .card-detail img {
  border-radius: 5px 5px 5px 5px;
  width: 50%;
}

.card-detail {
  width: 55%;
  margin-left: 17.5%;
}

.card-edit {
  position: relative;
  left: 35%;
}

.card-edit-del {
  position: relative;
  left: 40%;
  color: grey;
  cursor: pointer;

  &:hover {
    color: #343a40;
  }
}
